.hgt-100-pct {
  height: 100%;
}

.hgt-95-pct {
  height: 95%;
}

.hgt-90-pct {
  height: 90%;
}

.hgt-85-pct {
  height: 85%;
}

.hgt-80-pct {
  height: 80%;
}

.hgt-75-pct {
  height: 75%;
}

.hgt-70-pct {
  height: 70%;
}

.hgt-65-pct {
  height: 65%;
}

.hgt-60-pct {
  height: 60%;
}

.hgt-55-pct {
  height: 55%;
}

.hgt-50-pct {
  height: 50%;
}

.hgt-45-pct {
  height: 45%;
}

.hgt-40-pct {
  height: 40%;
}

.hgt-35-pct {
  height: 35%;
}

.hgt-30-pct {
  height: 30%;
}

.hgt-25-pct {
  height: 25%;
}

.hgt-20-pct {
  height: 20%;
}

.hgt-100-vh {
  height: 100vh;
}

.hgt-100-px {
  height: 100px;
}
