.pd-0 {
  padding: 0px;
}

.pd-1 {
  padding: 1px;
}

.pd-3 {
  padding: 3px;
}

.pd-5 {
  padding: 5px;
}

.pd-7 {
  padding: 7px;
}

.pd-10 {
  padding: 10px;
}

.pd-13 {
  padding: 13px;
}

.pd-15 {
  padding: 15px;
}

.pd-17 {
  padding: 17px;
}

.pd-20 {
  padding: 20px;
}

.pd-25 {
  padding: 25px;
}

.pd-30 {
  padding: 30px;
}

.pd-top-0 {
  padding-top: 0;
}

.pd-top-1 {
  padding-top: 1px;
}

.pd-top-3 {
  padding-top: 3px;
}

.pd-top-5 {
  padding-top: 5px;
}

.pd-top-7 {
  padding-top: 7px;
}

.pd-top-10 {
  padding-top: 10px;
}

.pd-top-13 {
  padding-top: 13px;
}

.pd-top-15 {
  padding-top: 15px;
}

.pd-top-17 {
  padding-top: 17px;
}

.pd-top-20 {
  padding-top: 20px;
}

.pd-top-25 {
  padding-top: 25px;
}

.pd-top-30 {
  padding-top: 30px;
}

.pd-bottom-0 {
  padding-bottom: 0;
}

.pd-bottom-1 {
  padding-bottom: 1px;
}

.pd-bottom-3 {
  padding-bottom: 3px;
}

.pd-bottom-5 {
  padding-bottom: 5px;
}

.pd-bottom-7 {
  padding-bottom: 7px;
}

.pd-bottom-10 {
  padding-bottom: 10px;
}

.pd-bottom-13 {
  padding-bottom: 13px;
}

.pd-bottom-15 {
  padding-bottom: 15px;
}

.pd-bottom-17 {
  padding-bottom: 17px;
}

.pd-bottom-20 {
  padding-bottom: 20px;
}

.pd-bottom-25 {
  padding-bottom: 25px;
}

.pd-bottom-30 {
  padding-bottom: 30px;
}

.pd-left-0 {
  padding-left: 0;
}

.pd-left-1 {
  padding-left: 1px;
}

.pd-left-3 {
  padding-left: 3px;
}

.pd-left-5 {
  padding-left: 5px;
}

.pd-left-7 {
  padding-left: 7px;
}

.pd-left-10 {
  padding-left: 10px;
}

.pd-left-13 {
  padding-left: 13px;
}

.pd-left-15 {
  padding-left: 15px;
}

.pd-left-17 {
  padding-left: 17px;
}

.pd-left-20 {
  padding-left: 20px;
}

.pd-left-25 {
  padding-left: 25px;
}

.pd-left-30 {
  padding-left: 30px;
}

.pd-right-0 {
  padding-right: 0;
}

.pd-right-1 {
  padding-right: 1px;
}

.pd-right-3 {
  padding-right: 3px;
}

.pd-right-5 {
  padding-right: 5px;
}

.pd-right-7 {
  padding-right: 7px;
}

.pd-right-10 {
  padding-right: 10px;
}

.pd-right-13 {
  padding-right: 13px;
}

.pd-right-15 {
  padding-right: 15px;
}

.pd-right-17 {
  padding-right: 17px;
}

.pd-right-20 {
  padding-right: 20px;
}

.pd-right-25 {
  padding-right: 25px;
}

.pd-right-30 {
  padding-right: 30px;
}
