.wdt-100-pct {
  width: 100%;
}

.wdt-95-pct {
  width: 95%;
}

.wdt-90-pct {
  width: 90%;
}

.wdt-85-pct {
  width: 85%;
}

.wdt-80-pct {
  width: 80%;
}

.wdt-75-pct {
  width: 75%;
}

.wdt-70-pct {
  width: 70%;
}

.wdt-65-pct {
  width: 65%;
}

.wdt-60-pct {
  width: 60%;
}

.wdt-55-pct {
  width: 55%;
}

.wdt-50-pct {
  width: 50%;
}

.wdt-45-pct {
  width: 45%;
}

.wdt-40-pct {
  width: 40%;
}

.wdt-35-pct {
  width: 35%;
}

.wdt-30-pct {
  width: 30%;
}

.wdt-25-pct {
  width: 25%;
}

.wdt-20-pct {
  width: 20%;
}

.wdt-100-vw {
  width: 100vw;
}

.wdt-100-px {
  width: 100px;
}
